section{
    .video-section{
        margin-bottom: 160px;
        @include tabletHorizontal{
            margin: -8px;
            background-color: #0D0D0D;
            margin-bottom: 80px;
        }
        .video-container{
            padding: 0 150px;
            @include tabletHorizontal{
                padding: 0 0;
            }
            .contant{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 60px;
                background: #0D0D0D;
                padding: 60px;
                border-radius: 16px;
                @include tabletVertical{
                    grid-template-columns: 1fr;
                    padding: 40px 0px;
                }
                
                video{
                    border-radius: 16px;
                    width: 580px;
                    height: 554px;
                    spect-ratio: 16 / 9;
                    @include mobile{
                        width: 100%;
                        height: 100%;
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    
                    .h1-text{

                        @include mobile{
                            font-size: 30px;
                        }
                        color: white;
                        max-width: 657px;
                        font-size: 58px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 110%;
                    }
                    .p-text{
                        color: white;
                        max-width: 539px;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 130%;
                        @include mobile{
                            font-size: 18px;
                        }
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        li{
                            @include mobile{
                                font-size: 16px;
                            }
                            color: white;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%;  
                        }
                    }
                    .price{
                        margin-top: 40px;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 130%;
                        letter-spacing: -0.96px;
                        color: white;
                        @include mobile{
                            font-size: 30px;
                        }
                    }
                }
            }
            
        }
    }
}