$breakpoint_desktop: 1919px;
$breakpoint_laptop: 1800px;
$breakpoint_small_laptop: 1605px;
$breakpoint_tabletHorizontal: 1423px;
$breakpoint_tabletVertical: 1024px;
$breakpoint_small_tabletVertical: 1024px;
$breakpoint_mobile: 550px;
$breakpoint_small_mobile: 425px;
$breakpoint_small_mega_mobile: 350px;